checkpoints_dir: /data/users/elopez/checkpoints_dkong
monitor_dir: ./logs/
video_dir: ./videos/

wandb:
  entity: paradigms-team
  project: DonkeyKong
  run_name: dqn_donkeykong_baseline
  gradient_save_freq: 100

env:
  env_id: ALE/DonkeyKong-v5
  n_envs: 9
  video_every: 10000 # set to null to disable
  video_length: 2000 # max frames to record

model:
  save_freq: 10000 # save model every n steps
  DQN:
    policy: CnnPolicy
    learning_rate: 1e-4
    buffer_size: 100_000 # size of the replay buffer (in transitions)
    learning_starts: 1000 # number of transitions collected before learning starts
    batch_size: 32 # size of the batch
    tau: 1.0 # target network update coefficient (intuitively, the speed of the target network to follow the primary network)
    gamma: 0.99 # discount factor
    train_freq: 4 # update the network every n steps
    target_update_interval: 10_000 # update the target network every n steps
    total_timesteps: 10_000 # for training
